* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
  @media(min-width: 415px){
    font-size: 18px;
  }
  @media(min-width: 475px){
    font-size: 19px;
  }
  @media(min-width: 515px){
    font-size: 20px;
  }
  @media(min-width: 685px){
    font-size: 24px;
  }
  @media(min-width: 768px){
    font-size: 26px;
  }
  @media(min-width: 1024px){
    font-size: 32px;
  }
  @media(min-width: 1280px){
    font-size: 34px;
  }
  @media(min-width: 1420px){
    font-size: 36px;
  }
}