.main {

    &__title {
        text-transform: uppercase;
        letter-spacing: 1px;
        border-bottom: 2px solid black;
        ;
        font-size: .8em;
        font-style: italic;
        text-align: center;
    }

    &__text {
        text-align: left;
        font-size: .45em;
        margin: 10px auto 0 20px;
    }

    &__text span {
        color: crimson;
        font-style: italic;

    }

}